<div class="bg-stone-200 py-6 px-5 rounded-lg flex items-start gap-4 callout mt-6">
  <div>
  <slot name="icon" />
</div>
<div>
  <slot />
</div>
</div>

<style is:global>
  .callout p {
    margin: 0;
  }

  .callout h3 {
    margin-top: 0;
    padding-top: 0;
  }
</style>
