---
import '../styles/styles.css';
---
<html lang="en">
  <head>
    <title>Coral UI</title>
    <link rel="canonical" href="https://coralui.com/">
    <meta name="description" content="Coral UI is a tool that bridges the gap between design and development by providing a common API to describe interfaces.">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="A tool that bridges the gap between design and development by providing a common API to describe interfaces.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://coralui.com/coral.png">
    <meta property="og:url" content="https://coralui.com/">
    <meta property="og:description" content="Coral UI is a tool that bridges the gap between design and development by providing a common API to describe interfaces.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="A tool that bridges the gap between design and development by providing a common API to describe interfaces.">
    <meta name="twitter:image" content="https://coralui.com/coral.png">
    <meta name="twitter:description" content="Coral UI is a tool that bridges the gap between design and development by providing a common API to describe interfaces.">
    <meta name="title" content="Coral UI">
    <meta name="description" content="Coral UI is a tool that bridges the gap between design and development by providing a common API to describe interfaces.">
    <meta name="theme-color" content="#E4F223">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="site_name" content="Coral UI">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="preload" href="PPNeueMontreal-Variable-subset.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="PPNeueMontreal-Variable-subset.woff" as="font" type="font/woff" crossorigin>
    <script async src="https://tally.so/widgets/embed.js"></script>
  </head>
  <body class="bg-[#F2F2EA]">
    <slot />
    <script>
      declare global {
        interface Window {
          TallyConfig: any;
        }
      }

      window.TallyConfig = {
        "formId": "3XBBbe",
        "popup": {
          "emoji": {
            "text": "👋",
            "animation": "wave"
          },
          "hideTitle": true,
          "autoClose": 3000,
          "open": {
            "trigger": "scroll",
            "scrollPercent": 50
          }
        }
      };
      </script>
  </body>
</html>